@model IEnumerable<fa25group23final.Models.Reviews>

@{
    ViewData["Title"] = "All Reviews";
}

<h2>All Reviews</h2>
<hr />

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Rating</th>
            <th>Review Text</th>
            @*<th>Reviewer</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.bookID?.Title
                </td>
                <td>
                    @item.Rating
                </td>
                <td>
                    @item.ReviewText
                </td>
                @*<td>
                    @item.reviewer?.FirstName @item.reviewer?.LastName
                </td>*@
            <td>
                @* Admin & Employee: can edit/delete ANY review *@
                @*@if (User.IsInRole("Admin") || User.IsInRole("Employee"))*@
                @*{*@
                @*<a asp-action="Edit" asp-route-id="@item.ReviewID" class="btn btn-sm btn-warning">Edit</a>*@
                @*<a asp-action="Delete" asp-route-id="@item.ReviewID" class="btn btn-sm btn-danger">Delete</a>*@
                @*}*@
                @* Customer: only edit/delete THEIR OWN reviews *@
                @*//else if (User.IsInRole("Customer") && item.reviewerID == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value)*@
                @*//{*@
                @*<a asp-action="Edit" asp-route-id="@item.ReviewID" class="btn btn-sm btn-warning">Edit</a>*@
                @*<a asp-action="Delete" asp-route-id="@item.ReviewID" class="btn btn-sm btn-danger">Delete</a>*@
                @*//}*@
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Details" asp-route-id="@item.ReviewID" class="btn btn-sm btn-info">Details</a>
                }

            </td>
            </tr>
        }
    </tbody>
</table>