@model fa25group23final.Models.Coupon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Coupon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreeThreshold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeThreshold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CouponID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
