@model IEnumerable<fa25group23final.Models.Coupon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CouponCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreeThreshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CouponCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeThreshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CouponID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CouponID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CouponID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
